@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
    lost-center: $layout-width;
    background-color: $typographic-base-body-color;
}

.layout.light{
    lost-center: $layout-width;
    background-color: $color-base;
}